.container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color: #D9DDDE;
}

h1 {
    font-family: "Lobster Two", sans-serif;
    font-size: 55px;
    font-weight: 700;
    font-style: normal;
    color: #331B1B;
}
p, button{
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-optical-sizing: auto;
  font-style: normal;
}
button{
    background-color: #D5838E;
    padding: 6px;
    font-weight: bold;
}
#caja{
    background-color: white;
    border: 1px solid #331B1B;
    margin: 10px 0;
    padding: 5px 15px;
    width: 500px;
}